{% extends "base.html" %}
{% block title %}RECOMANDATION SYSTEM{% endblock %}
{% block content %}
<h1 class="fs-1">Best Books</h1>
<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Gray_book.png" class="card-img-top" >
            <div class="card-body">
              <p class="card-text">Book1</p>
            </div>
        </div>
      <div class="card" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Gray_book.png" class="card-img-top" >
        <div class="card-body">
          <p class="card-text">Book2</p>
        </div>
    </div>
      <div class="card" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Gray_book.png" class="card-img-top" >
        <div class="card-body">
          <p class="card-text">Book3</p>
        </div>
    </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Gray_book.png" class="card-img-top" >
            <div class="card-body">
              <p class="card-text">Book4</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Gray_book.png" class="card-img-top" >
            <div class="card-body">
              <p class="card-text">Book5</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Gray_book.png" class="card-img-top" >
            <div class="card-body">
              <p class="card-text">Book6</p>
            </div>
        </div>
    </div>
  </div>

{% endblock %}