{% extends "base.html" %}
{% block title %}User{% endblock %}

{% block content %}
	{% with messages =get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages %}
				<p>{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
<p>Welcome, {{user}} rate this movies plz</p>
<form action="#" method="POST">
    <ul class="list-group">
        <li class="list-group-item"><p>movie1</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="option0">
                <label class="form-check-label" for="inlineRadio2">0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option1">
                <label class="form-check-label" for="inlineRadio2">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option3">
                <label class="form-check-label" for="inlineRadio2">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option4">
                <label class="form-check-label" for="inlineRadio2">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option5">
                <label class="form-check-label" for="inlineRadio2">5</label>
              </div>
        </li>
        <li class="list-group-item"><p>movie2</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option0">
                <label class="form-check-label" for="inlineRadio2">0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option1">
                <label class="form-check-label" for="inlineRadio2">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option3">
                <label class="form-check-label" for="inlineRadio2">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option4">
                <label class="form-check-label" for="inlineRadio2">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option5">
                <label class="form-check-label" for="inlineRadio2">5</label>
              </div>
        </li>
        <li class="list-group-item"><p>movie3</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio1" value="option0">
                <label class="form-check-label" for="inlineRadio2">0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="option1">
                <label class="form-check-label" for="inlineRadio2">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="option3">
                <label class="form-check-label" for="inlineRadio2">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="option4">
                <label class="form-check-label" for="inlineRadio2">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="option5">
                <label class="form-check-label" for="inlineRadio2">5</label>
              </div>
        </li>
        <li class="list-group-item"><p>movie4</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio1" value="option0">
                <label class="form-check-label" for="inlineRadio1">0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio2" value="option1">
                <label class="form-check-label" for="inlineRadio2">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio2" value="option3">
                <label class="form-check-label" for="inlineRadio2">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio2" value="option4">
                <label class="form-check-label" for="inlineRadio2">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio2" value="option5">
                <label class="form-check-label" for="inlineRadio2">5</label>
              </div>
        </li>
        <li class="list-group-item"><p>movie5</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio1" value="option0">
                <label class="form-check-label" for="inlineRadio2">0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio2" value="option1">
                <label class="form-check-label" for="inlineRadio2">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio2" value="option3">
                <label class="form-check-label" for="inlineRadio2">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio2" value="option4">
                <label class="form-check-label" for="inlineRadio2">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio2" value="option5">
                <label class="form-check-label" for="inlineRadio2">5</label>
              </div>
        </li>
        <li class="list-group-item"><p>movie6</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio1" value="option0">
                <label class="form-check-label" for="inlineRadio2">0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio2" value="option1">
                <label class="form-check-label" for="inlineRadio2">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio2" value="option3">
                <label class="form-check-label" for="inlineRadio2">3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio2" value="option4">
                <label class="form-check-label" for="inlineRadio2">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio2" value="option5">
                <label class="form-check-label" for="inlineRadio2">5</label>
              </div>
        </li>
      </ul>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}